@model ChallengerApp.Models.MyProfileViewModel

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/images/photos/profile-1.png" class="thumbnail img-responsive" alt="" />

        <div class="mb30"></div>

        <h5 class="subtitle">About</h5>
        <p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat... <a href="">Show More</a></p>

        @*<h5 class="subtitle">Connect</h5>
          <ul class="profile-social-list">
            <li><i class="fa fa-twitter"></i> <a href="">twitter.com/eileensideways</a></li>
            <li><i class="fa fa-facebook"></i> <a href="">facebook.com/eileen</a></li>
            <li><i class="fa fa-youtube"></i> <a href="">youtube.com/eileen22</a></li>
            <li><i class="fa fa-linkedin"></i> <a href="">linkedin.com/4ever-eileen</a></li>
            <li><i class="fa fa-pinterest"></i> <a href="">pinterest.com/eileen</a></li>
            <li><i class="fa fa-instagram"></i> <a href="">instagram.com/eiside</a></li>
          </ul>*@

        <div class="mb30"></div>

        <h5 class="subtitle">Address</h5>
        <address>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr>
            (123) 456-7890
         
        </address>

    </div>
    <!-- col-sm-3 -->
    <div class="col-sm-9">

        <div class="profile-header">
            <h2 class="profile-name">@Model.UserProfileModel.Name</h2>
            <div class="profile-location"><i class="fa fa-briefcase"></i>Role: @Model.UserProfileModel.RoleName</div>
            @*<div class="profile-position"><i class="fa fa-briefcase"></i>Software Engineer at <a href="">SomeCompany, Inc.</a></div>*@

            <div class="mb20"></div>

            @*<button class="btn btn-success mr5"><i class="fa fa-user"></i>Follow</button>
            <button class="btn btn-white"><i class="fa fa-envelope-o"></i>Message</button>*@
            @Html.Partial("_InlineAlerts")

        </div>
        <!-- profile-header -->

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified nav-profile">
            <li class="active"><a href="#MyProfile" data-toggle="tab"><strong>My Profile</strong></a></li>
            <li><a href="#Password" data-toggle="tab"><strong>Change Password</strong></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="MyProfile">
                <div class="activity-list">

                    <div class="media act-media">
                        @using (Html.BeginForm("UpdateProfile", "MyProfile", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserProfileModel.Name, new { @class = "pull-left" })
                                <div class="media-body act-media-body col-sm-6">
                                    @Html.TextBoxFor(model => model.UserProfileModel.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row" style="margin-top: 25px; padding-right:18px;">
                                <button class="btn btn-primary pull-right">Save Changes</button>
                            </div>
                        }
                    </div>

                    <!-- media -->

                </div>
                <!-- activity-list -->
            </div>
            <div class="tab-pane" id="Password">
                <div class="activity-list">

                    <div class="media act-media">
                        @using (Html.BeginForm("ChangePassword", "MyProfile", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.LocalPasswordModel.OldPassword, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.PasswordFor(model => model.LocalPasswordModel.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LocalPasswordModel.OldPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LocalPasswordModel.NewPassword, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.PasswordFor(model => model.LocalPasswordModel.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LocalPasswordModel.NewPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LocalPasswordModel.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.PasswordFor(model => model.LocalPasswordModel.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LocalPasswordModel.ConfirmPassword)
                                </div>
                            </div>
                            <div class="row" style="margin-top: 25px; padding-right: 18px;">
                                <button class="btn btn-primary pull-right">Change Password</button>
                            </div>
                        }
                    </div>

                    <!-- media -->

                </div>

                <!-- col-md-6 -->
                <!-- activity-list -->
            </div>

        </div>
        <!-- tab-content -->

    </div>
    <!-- col-sm-9 -->
</div>
<!-- row -->

@section breadcrumbs{
    <li class="active"><span>My Profile</span></li>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

