@model IEnumerable<ChallengerApp.Models.vehicletype>

@{
    ViewBag.Title = "Vehicles";

}

<div class="panel">
    <div class="panel-heading">
        <div class="panel-btns">
            <button id="btnShowModal" type="button"
                    class="btn btn-primary pull-right">
                [+] Add New Vehicle
            </button>

        </div>
        <h3 class="panel-title">Vehicles</h3>
        <p></p>
    </div>
    <div class="panel-body">
        @Html.Partial("_InlineAlerts")

        <br />
        <div class="table-responsive ">
            <table class="table table-condensed table-bordered" id="challenger-datatable">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(model => model.ElementAt(0).Brand)</th>
                        <th>@Html.LabelFor(model => model.ElementAt(0).Model)</th>
                        <th>@Html.LabelFor(model => model.ElementAt(0).Price)</th>
                        <th>@Html.LabelFor(model => model.ElementAt(0).Year)</th>
                        <th>@Html.LabelFor(model => model.ElementAt(0).IsNew)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
             
                <tbody>
                    @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Brand)</td>
                    <td>@Html.DisplayFor(model => item.Model)</td>
                    <td>@Html.DisplayFor(model => item.Price)</td>
                    <td>@Html.DisplayFor(model => item.Year)</td>
                    <td>@Html.DisplayFor(model => item.IsNew)</td>
                    <td class="text-left  fit-content">
                        <a title="Edit" id="EditUpdate" data-Id="@item.Id" class="abc1 btn btn-primary btn-circle glyphicon glyphicon-list"></a>
                        <a title="Delete" id="@item.Id" class="btn btn-danger btn-circle glyphicon glyphicon-trash delete-link" href="@Url.Action("Delete", "Vehicle")"></a>
                    </td>
                </tr>
}
}

                </tbody>
            </table>
        </div>
        <!-- table-responsive -->
    </div>
</div>

<!-- Vehicle screen Popup -->
<div class="modal fade" id="add_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Vehicle Screen</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="save-vehicle" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>









@section styles{
    <link href="~/Content/css/jquery.datatables.css" rel="stylesheet" />

}

@section breadcrumbs{
    <li class="active"><span>Vehicles</span></li>
}

@section scripts{
    <script src="~/Scripts/plugins/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.datatables.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>

    <script>
        jQuery(document).ready(function () {


            $('#challenger-datatable').dataTable(
                {
                    "sPaginationType": "full_numbers",
                    "aoColumnDefs": [
                        { 'bSortable': true, 'aTargets': [2] }
                    ],
                    "aoColumns": [
                        null,
                        null,
                        { "bSearchable": false },
                        { "bSearchable": false },
                        { "bSearchable": false },
                        { "bSearchable": false }
                      
                    ]
                });
              

            //Saving Vehicle Detail
            $("#save-vehicle").on("click", function (e) {
                e.preventDefault();
                saveVehicledetail();
            });

            function saveVehicledetail() {

                var form = $('#VehicleForm');
                $.ajax({
                    cache: false,
                    type: "Post",
                    url: '/Vehicle/CreateEdit',
                    data: form.serialize(),
                    beforeSend: function (msg) {
                        $('#add_model').modal('hide');
                        $.blockUI({ message: '<img src="/Images/loader2.gif" />' });

                    },
                    success: function (data) {
                        bootbox.confirm("Saved Successfully", function (confirmed) {
                            if (confirmed)
                                window.location = "/Vehicle/Index";
                        })
                    },




                    complete: function () {
                        $.unblockUI();
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        $(".loader").hide();
                    }
                });
            }




            //On add new button showing pupup
            $('#btnShowModal').click(function (e) {
                e.preventDefault();
                var target = $(e.target);
                var url = '/Vehicle/CreateEdit';
                $.get(url, function (data) {
                    $('#add_model div.modal-body').html(data);
                    $('#add_model').modal('show');
                });

            })
            // on Edit getting screend data into Model
            $('#challenger-datatable').on('click', 'a.abc1', function (e) {

                e.preventDefault();
                var target = $(e.target);
                var Id = $(target).attr('data-Id');
                var url = '/Vehicle/CreateEdit?Id=' + Id;
                $.get(url, function (data) {
                    $('#add_model div.modal-body').html(data);
                    $('#add_model').modal('show');
                });

            })
            // Chosen Select
            jQuery("select").chosen({
                'min-width': '100px',
                'white-space': 'nowrap',
                disable_search_threshold: 10
            });

            // Delete row in a table
            jQuery('.delete-row').click(function () {
                var c = confirm("Continue delete?");
                if (c)
                    jQuery(this).closest('tr').fadeOut(function () {
                        jQuery(this).remove();
                    });

                return false;
            });

            // Show aciton upon row hover
            jQuery('.table-hidaction tbody tr').hover(function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 1 });
            }, function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 0 });
            });


        });
    </script>
}
