@model ChallengerApp.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Log in";
}

<section>

    <div class="signinpanel">

        <div class="row">


            <!-- col-sm-7 -->

            <div class="col-md-7">

                @using (Html.BeginForm())
                {
                    <div class="row">
                        @Html.Partial("_InlineAlerts") 
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <h4 class="nomargin">Forgot Password</h4>
                        <p class="mt5 mb20">Enter the email you used to register.</p>

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control uname", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                        
                    </div>
                    <div class="row">
                        <p class="small muted">We will send you instruction how to reset your password.</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <button class="btn btn-success btn-block">Submit</button></div>
                    </div>
                }
            </div>
            <!-- col-sm-5 -->

        </div>
        <!-- row -->
    </div>
    <!-- signin -->

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
