@model ChallengerApp.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}
<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.ResetToken)
            @Html.HiddenFor(model => model.Email)
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h4 class="panel-title">Reset Password</h4>
                    <p>
                        @Html.Partial("_InlineAlerts")
                        @Html.ValidationSummary(true)
                    </p>
                </div>
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control",@readonly = true })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    
                     <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                     <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            <a id="cancel-button" href="@Url.Action("Login", "Account")" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            var isReset = '@TempData["success-reset"]';
            if (isReset) {
                setTimeout(function () {
                    window.location = '@Url.Action("Login","Account")';
                }, 3000)
            }
        })
    </script>

}
